@charset"UTF-8";
h1{ 
  font-size:1.75em;
  color:#3399cc;
  text-align:center;
}

h2{ 
  font-size: \1.25em;
  colro:ffffff;
  text=align:right;
}

p{ 
  font-size:0.8em;
  backgoroung-color: #3399cc;
  color: #333333;
}

li{
  font-size:0.8em;
  color:#333333;
}
